<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>El sabor de Rosita | Ingredientes</title>
  <link rel="icon" type="image/x-icon" href="<%= frontendUrl %>/assets/logofondoblanco.png">
  <link rel="stylesheet" href= "<%= frontendUrl %>/assets/main-D-5dOeFD.css" />
  <!-- Estilos externos -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

</head>

<body class="body-lista-ingredientes" >
   <header style="background-color:var(--rosita-verde) !important;">
    <div class="menu-nav d-flex flex-column flex-md-row justify-content-between align-items-center p-3">
      <div>
        <img src="<%= frontendUrl %>/assets/logosaborosita.png" class="logo" alt="Logo El sabor de Rosita">
      </div>
      <div class="menu-horizontal mt-2 mt-md-0">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/api/admin/editarMenu">Volver</a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <main id="container-ingredientes" class="container mt-5 ">
    <!-- Contenedor dinámico que muestra la lista de ingredientes guardadas-->
  </main>

  <footer style="background-color: var(--rosita-verde);" class="text-light mt-5 pt-4">
    <div class="container">
      <div class="border-top mt-4 pt-3 text-center small" style="color: var(--rosita-dorado);">
        © 2025 El sabor de Rosita.
      </div>
    </div>
  </footer>

  <!-- Scripts externos -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
   <script type="module" src="<%= frontendUrl %>/assets/main-DHsVU0ZL.js "></script>
</body>
</html>
